/* Estilos Header */
.container {
  background-color: orange;
  box-shadow: 0 5px 15px var(--shadow-color);
  color: white;
  padding: 10px;
}

.search {
  background-color: #55a77a;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  padding: 5px;
}
