/* Reset */
body, h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

/* Primary Font */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Global Primary Colors */
:root {
  --primary-color: #8206c0;
  --secondary-color: #9FD356;
  --tertiary-color: #3C91E6;
  --quaternary-color: #FA824C;
  --shadow-color: rgb(170, 170, 170);
  --text-color: rgb(102, 102, 102);
  --background-color: #FAFFFD;
  --light-gray: #f8f8f8;
}

/* Header Styles */
header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  box-shadow: 0 5px 15px var(--shadow-color);
}

/* Main Styles*/
main {
  padding: 20px;
}

/* Buttons styles */
button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Links Styles*/
a {
  text-decoration: none;
  color: var(--primary-color);
}

