/* Reset */
/* body, h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 1rem;
} */

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  /* color: var(--secondary-color); */
}

/* Global Primary Colors */
:root {
  --primary-color: #8206c0;
  --secondary-color: #9FD356;
  --tertiary-color: #3C91E6;
  --quaternary-color: #FA824C;
  --shadow-color: rgb(170, 170, 170);
  --text-color: rgb(63, 48, 48);
  --background-color: #f5f5f5;
}

/* body Styles*/
body {
  width: 1280px;
  height: auto;
}

/* Header Styles */
header {
  background: #ff6f1c;
  box-shadow: 3px 10px 10px 0px rgba(0, 0, 0, 0.10);
  height: 70px;
  width: 100%;
}
